public/starfallbuild1/Build/*.data.br filter=lfs diff=lfs merge=lfs -text
public/duck-breaker-3d/Build/*.data filter=lfs diff=lfs merge=lfs -text
public/duck-breaker-3d/Build/*.wasm filter=lfs diff=lfs merge=lfs -text
